  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(assets/img/bg-img/3.jpg);">
      <div class="container">
        <div class="row">

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <a href="#" class="foo-logo d-block mb-30">
                <img src="assets/img/core-img/ida (1).png" alt="Logo da Empresa">
              </a>
              <p>Promovemos inovação e sustentabilidade na agricultura angolana, conectando produtores, tecnologia e
                mercado.</p>
              <div class="contact-info">
                <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>Zona Agrícola do Mazozo, Catete- Bengo,
                    Angola</span></p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i><span>infoempresaagro.ao</span></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i><span>+244 923 000 000</span></p>
              </div>
            </div>
          </div>


          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">LINKS RÁPIDOS</h5>
              <!-- Footer Widget Nav -->
              <nav class="footer-widget-nav">
                <ul>
                  <li><a href="#">Comprar</a></li>
                  <li><a href="#">Políticas</a></li>
                  <li><a href="#">Envios</a></li>
                  <li><a href="#">Perguntas Frequentes</a></li>
                  <li><a href="#">Devoluções</a></li>
                  <li><a href="#">Carreiras</a></li>
                  <li><a href="#">Pagamentos</a></li>
                  <li><a href="#">Parceiros</a></li>
                  <li><a href="#">Guia do Agricultor</a></li>
                  <li><a href="#">Normas de Qualidade</a></li>
                  <li><a href="#">Notícias</a></li>
                  <li><a href="#">Marcas e Produtos</a></li>
                </ul>
              </nav>
            </div>
          </div>


          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">Notícias Recentes</h5>

              <!-- Notícia Recente - Início -->
              <div class="single-recent-blog d-flex align-items-center">
                <div class="post-thumbnail">
                  <img src="assets/img/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">Maior fazenda de produção de milho de Angola entra em expansão</a>
                  <div class="post-date">28 Mai 2025</div>
                </div>
              </div>

              <!-- Notícia Recente - Início -->
              <div class="single-recent-blog d-flex align-items-center">
                <div class="post-thumbnail">
                  <img src="assets/img/bg-img/5.jpg" alt="">
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">Preços do feijão atingem nível histórico no mercado de Luanda</a>
                  <div class="post-date">25 Mai 2025</div>
                </div>
              </div>

            </div>

          </div>

          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <h5 class="widget-title">SIGA AS NOSSAS REDES SOCIAS</h5>
              <!-- Footer Social Info -->
              <div class="footer-social-info">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <span>Facebook</span>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <span>Twitter</span>
                </a>
                <a href="#">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                  <span>Youtube</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Copywrite Area  -->
    <div class="copywrite-area">
      <div class="container">
        <div class="copywrite-text">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | ao IDA
              </p>
            </div>
            <div class="col-md-6">
              <div class="footer-nav">
                <nav>
                  <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Produção</a></li>
                    <li><a href="#">Práticas</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Contacto</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <!-- ##### Footer Area End ##### -->