 <!-- ##### Equipe do Ministério da Agricultura e Florestas Start ##### -->
<section id="equipe" class="team-member-area section-padding-50-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading">
          <h2><span>Liderança</span> do MINAGRIF</h2>
          <img src="assets/img/core-img/decor2.png" alt="">
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Ministro -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="100ms">
          <div class="team-img">
            <img src="assets/img/bg-img/IA.jpg" alt="Ministro da Agricultura e Florestas">
          </div>
          <div class="team-member-info">
            <h5>Isaac Francisco Maria dos Anjos</h5>
            <h6>Ministro da Agricultura e Florestas</h6>
          </div>
        </div>
      </div>

      <!-- Secretário de Estado para a Agricultura e Pecuária -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="300ms">
          <div class="team-img">
            <img src="assets/img/bg-img/CC.jpg" alt="Secretário de Estado para a Agricultura e Pecuária">
          </div>
          <div class="team-member-info">
            <h5>Castro Paulino Camarada</h5>
            <h6>Secretário de Estado para a Agricultura e Pecuária</h6>
          </div>
        </div>
      </div>

      <!-- Secretário de Estado para as Florestas -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
          <div class="team-img">
            <img src="assets/img/bg-img/JC.jpg" alt="Secretário de Estado para as Florestas">
          </div>
          <div class="team-member-info">
            <h5>João Manuel Bartolomeu da Cunha</h5>
            <h6>Secretário de Estado para as Florestas</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Equipe do Ministério da Agricultura e Florestas End ##### -->