
  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2><span>Conheça</span> a Nossa Missão</h2>
              <img src="assets/img/core-img/decor.png" alt="">
            </div>
            <p>O Instituto de Desenvolvimento Agrário (IDA) é a instituição pública angolana responsável por fomentar,
              coordenar e executar as políticas de desenvolvimento agrário no país. Desde a nossa criação, trabalhamos
              para transformar a agricultura familiar, fortalecer as comunidades rurais e promover a segurança alimentar
              através de programas inovadores e sustentáveis.</p>
            <p>Com uma equipa de técnicos especializados e parcerias estratégicas, implementamos soluções adaptadas à
              realidade angolana, desde o apoio técnico direto aos agricultores até à formulação de políticas públicas
              para o sector agrário.</p>
            <a href="sobre.html" class="btn famie-btn mt-30">Saiba Mais</a>
          </div>
        </div>

        <!-- IDA Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="assets/img/bg-img/63.jpg" alt="">
            <!-- Play Icon -->
            <a href="https://youtu.be/EIoBML_cDF8?si=cZ9oLBLDIFxGjL_C" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->