<!-- ##### Hero Area Start ##### -->
  <div class="hero-area">
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/1.jpg); ">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">Agricultura Familiar: O Alicerce do Desenvolvimento
                  Agrário em Angola</h2>
                <p data-animation="fadeInUp" data-delay="400ms">O IDA, através do seu <strong>Programa de Apoio à
                    Agricultura Familiar</strong>, promove técnicas sustentáveis, capacitação de produtores e acesso a
                  recursos essenciais para fortalecer as comunidades rurais. Juntos, construímos uma Angola mais
                  produtiva e autossustentável.</p>
                <a href="contactos.html" class="btn famie-btn mt-4" data-animation="bounceInUp"
                  data-delay="600ms">Participe do Programa</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax"
        style="background-image: url(assets/img/bg-img/digital.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">Digitalização do Sistema Agrícola em Angola:
                  Transformação e Oportunidades</h2>
                <p data-animation="fadeInDown" data-delay="400ms">O IDA lidera a avaliação do impacto da digitalização
                  na agricultura angolana, promovendo tecnologias inovadoras para modernizar o setor. Nossos programas
                  integram soluções digitais para otimizar a produção, melhorar a gestão rural e conectar pequenos
                  agricultores ao mercado.</p>
                <a href="programas.html" class="btn famie-btn mt-4" data-animation="bounceInDown"
                  data-delay="600ms">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ##### Hero Area End ##### -->