<div class="hero-area">
  <div class="welcome-slides owl-carousel">
    <div *ngFor="let hero of heroes" class="single-welcome-slides bg-img bg-overlay jarallax"
         [ngStyle]="{'background-image': 'url(' + hero.imagem + ')'}">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 col-lg-10">
            <div class="welcome-content">
              <h2 data-animation="fadeInUp" data-delay="200ms">{{ hero.titulo }}</h2>
              <p data-animation="fadeInUp" data-delay="400ms">{{ hero.descricao }}</p>
              <a *ngIf="hero.texto_botao"
                 href="contactos.html"
                 class="btn famie-btn mt-4"
                 data-animation="bounceInUp"
                 data-delay="600ms">{{ hero.texto_botao }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
