<section class="farming-practice-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Cabeçalho da Seção -->
          <div class="section-heading ">
            <h2><span>Práticas Agrícolas</span> Para Preservar Solo e Água</h2>
            <img src="assets/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>
      <!-- Botões de Filtro -->
    <div class="row justify-content-center mb-5 ">
      <div class="col-12 d-flex  flex-wrap gap-3">
        <button type="button" class="btn famie-btn mb-30  active" data-value="all">Todos</button>
        <button type="button" class="btn famie-btn mb-30" data-value="current">Programas Atuais</button>
        <button type="button" class="btn famie-btn mb-30" data-value="past">Programas Anteriores</button>
      </div>

     <div class="row">

  <!-- Avicultura para Carne -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-20 wow fadeInUp" data-wow-delay="100ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/9.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/chicken.png" alt="">
        </div>
        <h4>Avicultura para Carne</h4>
        <p>O IDA promove o desenvolvimento da avicultura familiar através de formações técnicas, distribuição de pintos e apoio à criação de galinheiros sustentáveis.</p>
      </div>
    </div>
  </div>

  <!-- Gestão de Suinicultura -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="200ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/10.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/pig.png" alt="">
        </div>
        <h4>Gestão de Suinicultura</h4>
        <p>Por meio de parcerias provinciais, o IDA fortalece a produção suína com enfoque na alimentação, saúde animal e construção de pocilgas eficientes.</p>
      </div>
    </div>
  </div>

  <!-- Pecuária de Corte -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="300ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/11.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/cow.png" alt="">
        </div>
        <h4>Pecuária de Corte</h4>
        <p>O IDA promove o melhoramento genético e o manejo sustentável do gado bovino, especialmente nas regiões sul e centro-sul do país.</p>
      </div>
    </div>
  </div>

  <!-- Cultivo de Arroz -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="400ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/12.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/cereal.png" alt="">
        </div>
        <h4>Cultivo de Arroz</h4>
        <p>O cultivo de arroz é incentivado através do Planagrão, com apoio técnico e sementes melhoradas para elevar a produtividade nas bacias hidrográficas.</p>
      </div>
    </div>
  </div>



  <!-- Fruticultura Intensiva -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/14.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/vegetable.png" alt="">
        </div>
        <h4>Fruticultura Intensiva</h4>
        <p>Com enfoque na diversificação alimentar e renda, o IDA apoia a produção de frutas tropicais como banana, manga, citrinos e abacaxi nas comunidades camponesas.</p>
      </div>
    </div>
  </div>


   <!-- Fruticultura Intensiva -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/14.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/vegetable.png" alt="">
        </div>
        <h4>Fruticultura Intensiva</h4>
        <p>Com enfoque na diversificação alimentar e renda, o IDA apoia a produção de frutas tropicais como banana, manga, citrinos e abacaxi nas comunidades camponesas.</p>
      </div>
    </div>
  </div>

  <!-- Fruticultura Intensiva -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/14.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/vegetable.png" alt="">
        </div>
        <h4>Fruticultura Intensiva</h4>
        <p>Com enfoque na diversificação alimentar e renda, o IDA apoia a produção de frutas tropicais como banana, manga, citrinos e abacaxi nas comunidades camponesas.</p>
      </div>
    </div>
  </div>

  <!-- Fruticultura Intensiva -->
  <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
      <div class="farming-practice-thumbnail">
        <img src="assets/img/bg-img/14.jpg" alt="">
      </div>
      <div class="farming-practice-content text-center">
        <div class="farming-icon">
          <img src="assets/img/core-img/vegetable.png" alt="">
        </div>
        <h4>Fruticultura Intensiva</h4>
        <p>Com enfoque na diversificação alimentar e renda, o IDA apoia a produção de frutas tropicais como banana, manga, citrinos e abacaxi nas comunidades camponesas.</p>
      </div>
    </div>
  </div>

</div>

    </div>
