  <!-- ##### News Area Start ##### -->
  <section class="news-area bg-gray section-padding-100-0">
    <div class="container">
      <div class="row">

        <!-- Featured Post Area -->
        <div class="col-12 col-lg-6">
          <div class="featured-post-area mb-100 wow fadeInUp" data-wow-delay="100ms">
            <img src="assets/img/bg-img/full.jpg" alt="">
            <!-- Post Content -->
            <div class="post-content">
              <h6>Post on <a href="#">18 Maio 2025</a> / <a href="#">Isaac dos Anjos - Ministro da Agricultura</a></h6>
              <a href="#" class="post-title">Por que a inovação é fundamental para manter nossa participação no mercado
                de exportação</a>
            </div>
          </div>
        </div>

        <!-- Single Blog Area -->
        <div class="col-12 col-lg-6 mb-100">

          <!-- Single Blog Area -->
          <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
            <!-- Post Content -->
            <div class="post-content">
              <h6>Post on <a href="#">18 Jun 2025</a> / <a href="#">Felismino da Costa - Director do IDA</a></h6>
              <a href="#" class="post-title">Avicultura para Carne</a>
              <p>O IDA tem promovido programas de capacitação para pequenos produtores de avicultura, fornecendo apoio
                técnico e insumos para a criação de frangos de corte nas zonas periurbanas de Luanda, Huambo e Bié.</p>
            </div>
          </div>

          <!-- Single Blog Area -->
          <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="500ms">
            <!-- Post Content -->
            <div class="post-content">
              <h6>Post on <a href="#">03 Junho 2025</a> / <a href="#">Felismino da Costa - Director do IDA</a></h6>
              <a href="#" class="post-title">Gestão de Suinocultura</a>
              <p>O IDA tem apoiado projetos comunitários de suinocultura em Malanje e Cuanza Norte, com foco em
                biossegurança e melhoria genética, visando aumentar a produtividade e segurança alimentar no meio rural.
              </p>
            </div>
          </div>

          <!-- Single Blog Area -->
          <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="700ms">
            <!-- Post Content -->
            <div class="post-content">
              <h6>Post on <a href="#">10 de Abril</a> / <a href="#">Felismino da Costa - Director do IDA</a></h6>
              <a href="#" class="post-title">Pecuária de Corte</a>
              <p>Com o apoio do IDA, a pecuária de corte está sendo fortalecida no sul de Angola, especialmente na Huíla
                e no Cunene, com investimentos em melhoramento de pastagens e apoio a cooperativas agropecuárias.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- ##### News Area End ##### -->
