<!-- ##### Blog Area Start ##### -->
<section class="famie-blog-area">
  <div class="container">
    <div class="row">
      <!-- Posts Area -->
      <div class="col-12 col-md-8">
  <div class="posts-area">

    <!-- Loop de publicações -->
    <div
      *ngFor="let item of news"
      class="single-blog-post-area mb-50 wow fadeInUp"
      data-wow-delay="100ms"
    >
      <h6>
        Publicação em
        <a href="#" class="post-date">{{ item.published_at | date: 'dd MMMM yyyy' }}</a>
        /
       
      </h6>
      <a href="#" class="post-title">{{ item.title }}</a>
      <img [src]="item.imagem_url" alt="" class="post-thumb" />
      <p class="post-excerpt">{{ item.excerpt }}</p>
    </div>

  </div>

  <!-- Paginação (pode ser dinâmica se quiser) -->
  <nav>
    <ul class="pagination wow fadeInUp" data-wow-delay="900ms">
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item">
        <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
  </nav>
</div>


      <!-- Sidebar Area -->
      <div class="col-12 col-md-4">
        <div class="sidebar-area">

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <form action="#" method="post" class="search-widget-form">
              <input type="search" class="form-control" placeholder="Search">
              <button type="submit"><i class="icon_search" aria-hidden="true"></i></button>
            </form>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Categorias</h5>
            <ul class="cata-list">
              <li><a href="#">Programas de Apoio</a></li>
              <li><a href="#">Formação Técnica</a></li>
              <li><a href="#">Agricultura Familiar</a></li>
              <li><a href="#">Distribuição de Insumos</a></li>
              <li><a href="#">Gestão de Recursos Hídricos</a></li>
              <li><a href="#">Parcerias e Cooperação</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Notícias Recentes</h5>

            <!-- Single Recent Notícias Start -->
            <div class="single-recent-blog style-2 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="assets/img/bg-img/kit agricola.jpg" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="post-title">IDA distribui kits agrícolas em Benguela</a>
                <div class="post-date">09 Maio 2025</div>
              </div>
            </div>

            <!-- Single Recent Notícias Start -->
            <div class="single-recent-blog style-2 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="assets/img/bg-img/31.jpg" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="post-title">Novo centro de formação agrícola em Malanje</a>
                <div class="post-date">03 Maio 2025</div>
              </div>
            </div>

            <!-- Single Recent Notícias Start -->
            <div class="single-recent-blog style-2 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="assets/img/bg-img/32.jpg" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="post-title">IDA reforça apoio à produção de milho em Huambo</a>
                <div class="post-date">28 Abril 2025</div>
              </div>
            </div>

            <!-- Single Recent Notícias Start -->
            <div class="single-recent-blog style-2 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="assets/img/bg-img/part.webp" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="post-title">Parceria com universidades fortalece extensão rural</a>
                <div class="post-date">21 Abril 2025</div>
              </div>
            </div>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Temas Populares</h5>
            <ul class="famie-tags">
              <li><a href="#">IDA Angola</a></li>
              <li><a href="#">Agricultura Familiar</a></li>
              <li><a href="#">Formação Agrária</a></li>
              <li><a href="#">Insumos</a></li>
              <li><a href="#">Extensão Rural</a></li>
              <li><a href="#">Parcerias</a></li>
              <li><a href="#">Projetos Agrícolas</a></li>
              <li><a href="#">Tecnologia no Campo</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Melhores Produtos</h5>
            <!-- Single Best Products -->
            <div class="single-best-product d-flex align-items-center">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"><img src="assets/img/bg-img/milho.png" alt=""></a>
              </div>
              <!-- Product Info -->
              <div class="product-info">
                <a href="#" class="pro-name">Milho Nacional</a>
                <h6>AKZ 3.200</h6>
                <div class="product-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <!-- Single Best Products -->
            <div class="single-best-product d-flex align-items-center">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"><img src="assets/img/bg-img/35.jpg" alt=""></a>
              </div>
              <!-- Product Info -->
              <div class="product-info">
                <a href="#" class="pro-name">Mel Puro Local</a>
                <h6>AKZ 2.500</h6>
                <div class="product-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <!-- Single Best Products -->
            <div class="single-best-product d-flex align-items-center">
              <!-- Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"><img src="assets/img/bg-img/feijao.jpg" alt=""></a>
              </div>
              <!-- Product Info -->
              <div class="product-info">
                <a href="#" class="pro-name">Feijão Vermelho</a>
                <h6>AKZ 4.000</h6>
                <div class="product-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Blog Area End ##### -->