  <!-- ##### Testimonial Area Start ##### -->
  <section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax"
    style="background-image: url('assets/img/bg-img/depoimento.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonial Slides -->
          <div class="testimonial-slides owl-carousel">

            <!-- Testemunho 1 -->
            <div class="single-slide">
              <!-- Texto do Testemunho -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="assets/img/core-img/quote.png" alt="">
                </div>
                <h5>"Graças ao apoio técnico do IDA, consegui triplicar minha produção de arroz em apenas dois anos. As
                  formações foram práticas e realmente mudaram a forma como eu cuido da terra."</h5>
              </div>
              <!-- Nome e Foto -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="assets/img/bg-img/17.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>João Manuel</h5>
                  <h6>Agricultor de Malanje</h6>
                </div>
              </div>
            </div>

            <!-- Testemunho 2 -->
            <div class="single-slide">
              <!-- Texto do Testemunho -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="assets/img/core-img/quote.png" alt="">
                </div>
                <h5>"Com a ajuda do IDA, aprendi técnicas sustentáveis de cultivo que aumentaram minha renda e
                  protegeram o solo da minha comunidade."</h5>
              </div>
              <!-- Nome e Foto -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="assets/img/bg-img/17.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>Maria Tomás</h5>
                  <h6>Beneficiária do Programa de Formação</h6>
                </div>
              </div>
            </div>

            <!-- Testemunho 3 -->
            <div class="single-slide">
              <!-- Texto do Testemunho -->
              <div class="testi-text d-flex">
                <div class="quote-icon">
                  <img src="assets/img/core-img/quote.png" alt="">
                </div>
                <h5>"Participei do programa de fruticultura intensiva promovido pelo IDA e hoje vendo meus produtos para
                  mercados fora da província. Foi um divisor de águas na minha vida."</h5>
              </div>
              <!-- Nome e Foto -->
              <div class="testimonial-thumbnail-name d-flex align-items-center">
                <div class="testimonial-thumbnail">
                  <img src="assets/img/bg-img/17.jpg" alt="">
                </div>
                <div class="testimonial-name">
                  <h5>Carlos Vicente</h5>
                  <h6>Fruticultor de Huambo</h6>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Testimonial Area End ##### -->
