 <section class="contact-area bg-gray section-padding-100-0">
    <div class="container">
      <div class="row align-items-end">

        <!-- Contact Content -->
        <div class="col-12 col-lg-7">
          <div class="contact-content section-padding-0-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2><span>Comece um</span> Programa de Aprendizagem</h2>
              <img src="assets/img/core-img/decor.png" alt="">
            </div>
            <!-- Contact Form Area -->
            <div class="contact-form-area">
              <form action="index.html" method="post">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Seu Nome">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" name="subject" placeholder="Assunto">
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Mensagem"></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn famie-btn">Enviar mensagem</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Contact Maps -->
        <div class="col-lg-5">
          <div class="consaltant-thumbnail text-center">
            <img src="assets/img/bg-img/25.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>