<section id="sobre" class="about-ministry-area section-padding-80-0 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class="section-heading mb-5">
          <h2><span>Ministério</span> da Agricultura e Florestas</h2>
          <img src="assets/img/core-img/decor.png" alt="Decorativo">
        </div>
      </div>
    </div>

    <div class="row mb-80">
      <div class="col-12 col-lg-10">
        <p class="lead text-justify">
          O Ministério da Agricultura e Florestas é o órgão do Governo responsável pela formulação, execução e avaliação das políticas relacionadas com a agricultura, desenvolvimento rural, florestas, pecuária, segurança alimentar e gestão sustentável dos recursos naturais renováveis em Angola.
        </p>
        <p class="text-justify mt-4">
          Entre suas atribuições, destacam-se o apoio técnico e institucional aos agricultores, a promoção da inovação tecnológica no campo, o fortalecimento da extensão rural, bem como a gestão de programas de incentivo à produção agrícola e florestal. O Ministério também atua na articulação com instituições internacionais, universidades e centros de pesquisa para o desenvolvimento sustentável do setor.
        </p>
        <p class="text-justify mt-4">
          O Instituto de Desenvolvimento Agrário (IDA) é um dos órgãos executores ligados ao Ministério, focado em levar assistência técnica, formação e estrutura de apoio às comunidades rurais, promovendo a agricultura familiar, segurança alimentar e inclusão produtiva no meio rural.
        </p>
      </div>
    </div>
  </div>
</section>