<!-- ##### Famie Benefits Area Start ##### -->
<section class="famie-benefits-area section-padding-100-0 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Benefits Area -->
      <div *ngFor="let recurso of recursos" class="col-12 col-sm-4 col-lg">
        <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
          <img [src]="recurso.imagem" alt="">
          <h5>{{recurso.titulo}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Famie Benefits Area End ##### -->
