
  <!-- ##### FAQ Area Start ##### -->
  <section class="famie-faq-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <h2><span>Obtenha respostas</span> para perguntas frequentes sobre o serviço</h2>
            <img src="img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">
  <div class="col-12">
    <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">

      <!-- Single Accordion Area -->
      <div class="panel single-accordion">
        <h6>
          <a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Os produtos promovidos pelo IDA têm a mesma qualidade que os alimentos industrializados?
            <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
            <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
          </a>
        </h6>
        <div id="collapseOne" class="accordion-content collapse show">
          <p>Sim. Os produtos promovidos pelo IDA, especialmente os provenientes da agricultura familiar, seguem boas práticas agrícolas e padrões de qualidade e segurança alimentar. Embora utilizem métodos tradicionais e sustentáveis, seu objetivo é fornecer alimentos nutritivos e saudáveis para o consumidor final.</p>
        </div>
      </div>

      <!-- Single Accordion Area -->
      <div class="panel single-accordion">
        <h6>
          <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
            Os produtos locais apoiados pelo IDA têm sabor diferente dos alimentos industrializados?
            <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
            <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
          </a>
        </h6>
        <div id="collapseTwo" class="accordion-content collapse">
          <p>Muitos consumidores relatam que os produtos agrícolas locais têm um sabor mais autêntico e natural, resultado de práticas de produção menos intensivas, colheita manual e uso mínimo de químicos. O IDA promove métodos que valorizam o sabor e a qualidade dos alimentos.</p>
        </div>
      </div>

      <!-- Single Accordion Area -->
      <div class="panel single-accordion">
        <h6>
          <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
            Os produtos animais apoiados pelo IDA seguem práticas sustentáveis e humanitárias?
            <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
            <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
          </a>
        </h6>
        <div id="collapseThree" class="accordion-content collapse">
          <p>Sim. O IDA incentiva práticas de criação responsáveis e humanitárias. Os produtores parceiros são orientados a garantir o bem-estar animal, promovendo sistemas de criação que respeitam as condições naturais dos animais e normas ambientais.</p>
        </div>
      </div>

    

    </div>
  </div>
</div>

    </div>
  </section>
  <!-- ##### FAQ Area End ##### -->