  <!-- ##### Sobre Nós Area Start ##### -->
<section class="Sobre-us-area">
  <div class="container">
    <div class="row align-items-center">

      <!-- Sobre Nós Content -->
      <div class="col-12 col-md-8">
        <div class="Sobre-us-content mb-100">
          <!-- Section Heading -->
          <div class="section-heading">
            <p>Sobre Nós</p>
            <h2><span>Nossa</span> História</h2>
            <img src="assets/img/core-img/decor.png" alt="">
          </div>
          <p>O Instituto de Desenvolvimento Agrário (IDA) é uma instituição pública angolana criada com o objetivo de promover e dinamizar o desenvolvimento agrário, especialmente no setor da agricultura familiar. Desde a sua criação, o IDA tem desempenhado um papel fundamental na assistência técnica, extensão rural, apoio à produção e melhoria da segurança alimentar nas comunidades rurais de Angola.</p>
          <p>O IDA atua de forma descentralizada em todo o território nacional, com foco no fortalecimento das capacidades produtivas dos pequenos agricultores, promovendo práticas agrícolas sustentáveis, inovação, e inclusão social. A sua missão é contribuir para a redução da pobreza rural e o aumento da produção alimentar, respeitando o meio ambiente e valorizando os recursos locais.</p>
          <p>Com uma rede de técnicos extensionistas, programas de formação e apoio logístico, o IDA busca constantemente parcerias para impulsionar o desenvolvimento agrícola e garantir um futuro mais próspero para o campo angolano.</p>
    <!--       <a href="programas.html" class="btn famie-btn mt-30">Saiba Mais</a> -->
        </div>
      </div>

      <!-- Famie Video Play -->
      <div class="col-12 col-md-4">
        <div class="famie-video-play mb-100">
          <img src="assets/img/bg-img/63.jpg" alt="">
          <!-- Play Icon -->
          <a href="https://youtu.be/EIoBML_cDF8?si=I_WYT0dEdVHceWV6" class="play-icon"><i class="fa fa-play"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Sobre Nós Area End ##### -->