  <!-- ##### Team Member Area Start ##### -->
  <section class="team-member-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading">
            <p>CONHEÇA NOSSA EQUIPE</p>
            <h2><span>A Grande Equipe</span> Sempre Irá Ajudá-lo</h2>
            <img src="assets/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="100ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="assets/img/bg-img/20.webp" alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Domingos Mateus</h5>
              <h6>Coordenador</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="300ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="assets/img/bg-img/21.webp" alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Cecília Mavunda</h5>
              <h6>Vigilante</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="assets/img/bg-img/22.webp" alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>André Chilombo</h5>
              <h6>Executivo de Vendas</h6>
            </div>
          </div>
        </div>

        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="700ms">
            <!-- Team Thumbnail -->
            <div class="team-img">
              <img src="assets/img/bg-img/23.webp" alt="">
              <!-- Social Info -->
              <div class="team-social-info">
                <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <!-- Team Member Info -->
            <div class="team-member-info">
              <h5>Rosa Ngunza</h5>
              <h6>Gestora de Planeamento</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Team Member Area End ##### -->
